<h1>New Milestone</h1>

<%= form_for(@milestone, url: project_milestones_path(@project)) do |f| %>
	<%= render 'form', :locals => { form: f, milestone: @milestone, project: @project } %>
<%= link_to 'Back', project_milestones_path, { class: 'button warning small' } %>
<% end %>
