<h1>New Task</h1>

<%= form_for(@task, url: project_milestone_tasks_path(@project, @milestone)) do |f| %>
	<%= render 'form', :locals => { form: f, milestone: @milestone, project: @project, task: @task } %>
<% end -%>
<%= link_to 'Back', project_milestone_path(@project, @milestone) %>
