<% estimated_payment_schedule = locals[:estimated_ps] %>
<% real_payment_schedule = locals[:real_ps] %>
<div class="large-12" id="costs">
  <div class="row">
    <div class="large-4 left">
      <h3> Evolución de costos </h3>
    </div>
    <div class="large-8 left">
      <%= link_to 'Administrar costos', project_costs_path(@project), class: 'button tiny info ' %>
    </div>
  </div>

  <div class="large-7 left" id="cost_evolution">
    <% sum = 0 %>
    <%= line_chart [{ name: "Costo Estimado", data: estimated_payment_schedule }, { name: "Costo Real", data: real_payment_schedule }] %>
  </div>
  <div class="large-4 right" id="indicators">Indicadores</div>

 </div>