<div class="large-8 left"><h3> Interesados</h3></div>
<div class="large-4 left">
	<%= link_to 'Ver interesados', project_stakeholders_path(@project), class: 'button info tiny'%>
</div>
<div class="row">
  <%= scatter_chart @stakeholders.pluck(:influence,:power), library: { xAxis: { min: 0, max: 5}},ytitle: 'Poder', xtitle: 'Influencia', min: 0, max: 5 %>
</div>
<br><br>