
  <nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <!-- <li class="name">
	     		<h1><a href="/">Simulador de Gestión de proyectos</a></h1>
	    	 </li> -->
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	    <%- if current_project_manager %>
	      <%- if current_project_manager.has_role? :admin %>
	      <li><a>Administrador:</a></li>
	      <%- else %>
	      <li><a>Jefe de proyecto:</a></li>
	      <% end -%>
	      <li class="has-dropdown">
	        <a href="#"> <%= current_project_manager.name %></a>
	        <ul class="dropdown">
	          <li><%= link_to 'Cerrar sesión', destroy_project_manager_session_path, method: :delete%></li>
	          <li><%= link_to 'Actualizar datos', edit_project_manager_registration_path %></li>
	        </ul>
	      </li>
	    <% end -%>
	    </ul>

	    <!-- Left Nav Section -->
	    <ul class="left">
	    	<li class="name">
	      		<h1><a href="/">Simulador de Gestión de proyectos</a></h1>
	    	</li>
	      <!-- <li><a href="#">Left Nav Button</a></li> -->
	    </ul>
	  </section>
	</nav>